*{
    margin: 0;
    box-sizing: border-box;
    font-size: 50px;
}

body{
    background-color: white;
}

section {
    text-align: center;
    /* padding-top: 45vh; */
}

.introContainer{
    height: 700vh;
    width: 100vh;
    background-image: linear-gradient(white, white, white, black, black);

}

#intro {
    background-image: linear-gradient(white, white, white, black, black);
    color: black;
    height: 700vh;
    width: 100vw;
    padding: 45vh;

}

.introSticky {

    position: sticky;
    position: -webkit-sticky; /* Safari */  
    top: 45vh;
    background-color: blue;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%)
}

#middle {
    background-image: linear-gradient(black, black, black, black, white);
    color: white;
    height: 1000vh;
    width: 100vw;
    padding: 45vh;
}

.middleSticky {

    position: sticky;
    position: -webkit-sticky; /* Safari */  
    top: 45vh;
    background-color: blue;
    color: white;
    height: fit-content;
    width: 100%;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%)
}


.middleContainer{
    height: 700vh;
    width: 100vh;
    background-image: linear-gradient(black, black, black, black, white);
}

/* .middleSticky{
    height: fit-content;
    width: fit-content;
    display: sticky;
    position: -webkit-sticky; Safari 
    margin-top: 100vh;
    top: 300vh;
}

.middleAlign {
    width: 100vw;
    text-align: center;
    transform: translate(0, -100vh);
}

#middle {
    color: white;
    position: relative;
    background-color: black;
}

#expand{
    background-color: black;
    width: 100vw;
    min-width: 0;
    min-height: 100vh;
    position: absolute;
    will-change: width;
} */

#end {
    background-color: white;
    color: black;
    height: 100vh;
    width: 100vw;
    padding: 45vh;
    bottom: 0;
}

.endSticky {
    position: sticky;
    position: -webkit-sticky; /* Safari */  
    top: 45vh;
    background-color: blue;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%)
}