*{
    margin: 0;
    box-sizing: border-box;
    font-size: 50px;
}

body{
    background-color: white;
    overflow-x: hidden;
}

section {
    text-align: center;
    /* padding-top: 45vh; */
}

.animations{
    position: sticky;
    position: -webkit-sticky; /* Safari */
    /* top: 0; */
}

.introContainer{
    height: 700vh;
    width: 100vh;
    background-image: linear-gradient(white, white, white, black, black);

}

#intro {
    background-image: linear-gradient(white, white, white, black, black);
    color: black;
    height: 700vh;
    width: 100vw;
    padding: 45vh;

}

.introSticky {

    position: sticky;
    position: -webkit-sticky; /* Safari */  
    top: 45vh;
    background-color: blue;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%)
}

#middle {
    background-image: linear-gradient(black, black, black, black, white);
    color: white;
    height: 700vh;
    width: 100vw;
    padding: 45vh;
}

.middleSticky {

    position: sticky;
    position: -webkit-sticky; /* Safari */  
    top: 45vh;
    background-color: blue;
    color: white;
    height: fit-content;
    left: 50%;
    display: table;
    text-align: center;;
    transform: translateX(-50%);
}


.middleContainer{
    height: 700vh;
    width: 100vh;
    background-image: linear-gradient(black, black, black, black, white);
}

.cinema{
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 50vh;
    transform: translateY(-50vh);
    transform: translateX(12.5vw);
}

.textMiddle {
    transform: translateY(50vh);
}

.endContainer{
    top: 700vh;
    width: 100vh;
}

#end {
    background-color: white;
    height: 100vh;
    width: 100vw;
    padding: 45vh;
}

.endSticky {
    position: sticky;
    position: -webkit-sticky; /* Safari */  
    top: 45vh;
    background-color: blue;
    color: black;
    height: fit-content;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);
}